@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:cadetblue">
    <h1>E-Commerce</h1>
    <p class="lead">Comércio eletrônico ou 
    e-commerce, comércio virtual ou venda não-presencial, é um tipo de transação comercial feita especialmente através de um equipamento eletrônico, como, por exemplo, computadores, tablets e smartphones.</p>
    <p><a href="https://www.nuvemshop.com.br/" class="btn btn-default btn-lg">Maiores informações &raquo;</a></p>
</div>

<div class="row" style="background-color:aquamarine">
    <div class="col-md-4">
        <h2>Escalabilidade no e-commerce: o que é e como escalar seu negócio</h2>
        <p>
            A escalabilidade é fundamental quando se pensa a longo prazo.
            Um negócio escalável garante que a estrutura da sua operação está preparada para crescer e atender altas demandas.
            Isso aumentando o seu faturamento e garantindo ótimas entregas para o cliente algo que vale a pena refletir, também, 
            é que pensar sobre escalabilidade no e-commerce não é apenas um papo para quem já cresceu. 
            Pelo contrário, a escalabilidade também é influenciada pela base em que o empreendimento foi criado.
        </p>
        <p><a class="btn btn-default" href="https://www.bis2bis.com.br/blog/escalabilidade-no-e-commerce/">Maiores informações &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Como fidelizar clientes no e-commerce</h2>
        <p>
            Se você chegou até esse artigo, já deve ter ouvido falar que fidelizar clientes no e-commerce custa bem menos do que capturar um novo, não é mesmo? 
            É comum que as lojas virtuais concentrem muito (ou quase todos) esforços na captação de novos consumidores. 
            Neste artigo não quero te desestimular a fazer isso. Mas quero mostrar que a fidelização deve ser tão valorizada quanto a captação de novos consumidores (talvez, até mais)</p>
        <p><a class="btn btn-default" href="https://www.bis2bis.com.br/blog/fidelizar-clientes-no-e-commerce/">Maiores informações &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>5 Tendências do e-commerce para começar 2021 vendendo mais</h2>
        <p>
            O maior fato de 2020 é que a pandemia do Covid-19 mudou todos os planos que o varejo tinha (de forma boa e ruim, ao mesmo tempo). 
            Assim, as previsões e as tendências do e-commerce para 2021 estão chegando de “cara nova”.
            O mercado teve que se adaptar aos novos hábitos do consumidor. Nós, empreendedores, tivemos que aprender (na marra) que sempre vamos ter que atualizar nossos planos por conta dos consumidores. 
            Isso vai acontecer constantemente, porque o e-commerce está se modificando o tempo todo..
        </p>
        <p><a class="btn btn-default" href="https://www.bis2bis.com.br/blog/tendencias-do-e-commerce/">Maiores informações &raquo;</a></p>
    </div>
</div>